appdirs==1.4.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
json5==0.9.1
jsonschema==3.2.0
MarkupSafe==1.1.1
networkx==2.4
packaging==20.1
pymessenger==0.0.7.0
pyparsing==2.4.6
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
requests==2.22.0
requests-toolbelt==0.9.1
six==1.14.0
ujson==1.35
virtualenv==20.0.24
Werkzeug==1.0.0
wit==6.0.0